.App {
  width: 100%;
  padding: 50px 0px;
  background-color: #F0F0F0;
}

.Content {
  display: table;
  max-width: 800px;
  width: 1000%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
}